
<div class="modal-backdrop"
     hx-on="click: document.getElementById('modal').innerHTML=''">
</div>

<div class="modal">
<h1>Edit Contact</h1>

<form method="post">
    <p>
        <label>First</label><br>
        <input type="text" name="first" value="{{ contact.first }}">
    </p>

    <p>
        <label>Last</label><br>
        <input type="text" name="last" value="{{ contact.last }}">
    </p>

    <p>
        <label>Phone</label><br>
        <input type="text" name="phone" value="{{ contact.phone }}">
    </p>

    <p>
        <label>Email</label><br>
        <input type="email" name="email" value="{{ contact.email }}">
    </p>

    <p>
        <button type="submit">Save</button>
        <a href="/contacts">Cancel</a>
    </p>
</form>
</div>

