{% extends "layout.html" %}

{% block content %}

<h1>New Contact</h1>

<form method="post">
    <p>
        <label>First</label><br>
        <input type="text" name="first">
    </p>

    <p>
        <label>Last</label><br>
        <input type="text" name="last">
    </p>

    <p>
        <label>Phone</label><br>
        <input type="text" name="phone">
    </p>

    <p>
        <label>Email</label><br>
        <input type="email" name="email">
    </p>

    <p>
        <button type="submit">Create</button>
        <a href="/contacts">Cancel</a>
    </p>
</form>

{% endblock %}
